:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);

    --Very-Dark-Blue: hsl(234, 12%, 34%);
    --Grayish-Blue: hsl(229, 6%, 66%);
    --Very-Light-Gray: hsl(0, 0%, 98%);

    font-family: 'Poppins',
        sans-serif;
    font-size: 15px;
}


/* CENTERING SECTION */
.container {
    height:100vh;
    width:100vw;
    display:flex;
    justify-content: center;
    align-items: center;
}

.container__box {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}